:root {
  --bgColor: #fff;
  --txColor: #000;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
}
html .container,
body .container {
  width: 600px;
  margin: 0 auto;
}
html p,
body p {
  color: var(--txColor);
}
html input,
body input {
  width: 512px;
}
