:root
    --bgColor #fff
    --txColor #000

html,body
    height 100%
    margin 0
    padding 0
    background-color var(--bgColor)
    .container
        width 600px
        margin 0 auto
    p
        color var(--txColor)

    input
        width 512px