- var n = 12;


<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title JavaScript 30: 02 - JS Clock
		link(rel="stylesheet", href="app.css")
	body
		.clock
			.ticks
				while n--
					.hour(style=`--i: ${n}`)
			.hands
				.hand.minutes
				.hand.hours
				.hand.seconds
		script(src="app-min.js")
		